body {
    margin: 0;
    background: #FFF;
}

.title {
    margin: 0;
}

.menu-and-logo {
    width: 1170px;
    margin-top: 40px;
    display: flex;
    width: 1289px;
    height: 114px;
    gap: 14px;
    margin-left: auto;
    margin-right: auto;
}

.logo-header {
    width: 35px;
    height: 40px;
    flex-shrink: 0;
}

.h1-header {
    width: 88px;
    height: 30px;
    margin-right: 500px;
}

h1 {
    color: #F25822;
    font-family: Gilroy-Bold;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h1 span {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.link-header {
    width: 533px;
    height: 17px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}

.link-Home {
    text-decoration: none;
    color: #F25822;
    font-family: Gilroy-SemiBold;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.link-About-Us {
    text-decoration: none;
    color: #000;
    font-family: Gilroy-Medium;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.link-Services {
    text-decoration: none;
    color: #000;
    font-family: Gilroy-Medium;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.link-Features {
    text-decoration: none;
    color: #000;
    font-family: Gilroy-Medium;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.link-Team {
    text-decoration: none;
    color: #000;
    font-family: Gilroy-Medium;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.link-Blog {
    text-decoration: none;
    color: #000;
    font-family: Gilroy-Medium;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.link-Contact {
    text-decoration: none;
    color: #000;
    font-family: Gilroy-Medium;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.intro {
    width: 1170px;
    margin-top: 164px;
    display: flex;
    justify-content: space-between;
    width: 1274px;
    height: 536px;
    margin-left: auto;
    margin-right: auto;
}

.intro-title {
    margin-top: 17px;
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 522px;
    height: 222px;
}

.intro-description {
    margin-bottom: 17px;
    color: #888;
    font-family: Gilroy-Medium;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 466px;
    height: 48px;
}

.intro-button-wrapper {
    margin-top: 37px;
    gap: 40.94px;
    display: flex;
}

.intro-button-Start-Now {
    /* width: 140px; */
    height: 50px;
    padding: 15px 36px 16px 35px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    color: #FFF;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}

.intro-button-Watch-Video {
    color: #AAA;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    cursor: pointer;
    background: none;
}

.logos {
    width: 1170px;
    margin-top: 97px;
    width: 1240px;
    justify-content: space-between;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.liua-logos {
    width: 160px;
    height: 50px;
    flex-shrink: 0;
}

.Kanba-logos {
    width: 160px;
    height: 50px;
    flex-shrink: 0;
}

.Amara-logos {
    width: 160px;
    height: 50px;
    flex-shrink: 0;
}

.Aven-logos {
    width: 160px;
    height: 50px;
    flex-shrink: 0;
}

.Hexlab-logos {
    width: 160px;
    height: 50px;
    flex-shrink: 0;
}

.Kanba-logos-1 {
    width: 160px;
    height: 50px;
    flex-shrink: 0;
}